<div class="container">
  <h2>
    Ogłoszenia
  </h2>
  <div class="alert alert-danger" data-ng-hide="vm.messageErr === ''">
    Error:
    {{vm.messageErr}}
  </div>

  <add-new-advert adverts="vm.myAdvertsList" categories="vm.categories"></add-new-advert>
  <ul class="list-group " ng-repeat="myAdvert in vm.myAdvertsList | filter: authentication.userName" style="list-style-type: none;">
    <div class="my-advert-item" ng-repeat="advert in myAdvert.adverts">
      <li class="list-group-item event-listItem">
        <my-adverts-item category="myAdvert.category" my-advert="advert"></my-adverts-item>
      </li>
    </div>
  </ul>

</div>
