<div class="container">
    <form role="form" name="loginForm" ng-submit="loginCTRL.login()" novalidate class="my-form">
        <div class="row">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-6">
                <h2 class="form-login-heading">Login</h2>

                <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                    <input type="text" class="form-control" placeholder="Email" name="email" data-ng-model="loginCTRL.loginData.email" required autofocus >
                    <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Email jest wymagany</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                    <input type="password" class="form-control" placeholder="Hasło" name="password" data-ng-model="loginCTRL.loginData.password" required>
                    <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Hasło jest wymagane</p>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-md btn-info btn-block" type="submit" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid">
                        Zaloguj
                    </button>
                </div>
                
                <div data-ng-hide="loginCTRL.message == ''" class="alert alert-danger">
                    {{loginCTRL.message}}
                </div>
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    </form>
</div>